<% @post.tags.build %>

<%= bootstrap_form_for(@post, layout: :horizontal, label_col: 'col-sm-3', control_col: 'col-sm-6', html: {id: 'edit-post', class: 'form-horizontal well span9', multipart: true}) do |f| %>
  
  <div class="row">
    <div class="col-sm-9"><%= f.alert_message "Please fix the errors below." %></div>
  </div>

  <%= f.text_field :title %>
  <%= f.text_area :body, class: 'input-xxlarge' %>
  <%= f.file_field :picture %>
 
    
  <h3>Tags</h3>
  <%= render :partial => 'tags/form', locals: {form: f} %>

  <div class="actions">
    <%= f.submit %>
  </div>

<% end %>