<div class="post">
  <div class="row">
    <div class="col-md-8">
      <h2>
        <%= link_to post.title, post %>

        <% if user_logged_in? %>
          <%= link_to 'Edit', edit_post_path(post), class: 'btn btn-xs btn-primary btn-edit' %>
          <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs btn-danger' %>
        <% end %>
      </h2>
    </div>
    <div class="col-md-4">
      <h4 class="pull-right">
        Posted by <%= post.user.name %> at <%= post.display_date %>
      </h4>
    </div>
  </div>

  <p><%= post.body_html.try(:html_safe) %></p>

  <% if post.picture? %>
    <div><%= image_tag(post.picture.url) %></div>
  <% end %>

  <% if post.tags.any? %>
    <span class="tags">
      <i class="icon-tags"></i> Tagged with:
      <% post.tags.each do |tag| %>
        <span class="label label-info">
          <%= link_to tag.name, tag, class: 'tag' %>
        </span>
      <% end %>
    </span>
  <% end %>

</div>