<h1 class="center page-header">Recent posts</h1>

<% @posts.each do |post| %>
  <div class="post">
    <h2 class="row">
      <%= link_to post.title, post, class: 'pull-left' %>
      <small class="pull-right">posted <%= post.display_date %></small>
    </h2>
    <p class="row"><%= post.body.html_safe %></p>

    <div class="row">
      <span class="span9">
        <span>Tagged as:</span>
        <% post.tags.each do |tag| %>
          <span class="label label-inverse"><%= tag.name %></span>
        <% end %>
      </span>
      <span class="span3">
        Posted by <%= post.user.name %>
      </span>
    </div>

  </div>
<% end %>

<% if false %>
  <table class="table table-bordered table-striped table-hover">
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Tags</th>
      <th></th>
      <th></th>
    </tr>

 
    <tr>
      <td><%= link_to post.title, post %></td>
      <td><%= post.body %></td>

      <td>
        <% post.tags.each do |tag| %>
          <span class="label label-inverse"><%= tag.name %></span>
        <% end %>
      </td>

      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  
  </table>
<% end %>

<br />
