<%= link_to "Home", root_path, :class => 'brand' %>

<div class="nav-collapse collapse" id="main-menu">
  <ul class="nav" id="main-menu-left">
    <% if user_logged_in? %>
      <li><%= link_to 'Logout', logout_path %></li>
    <% else %>
      <li><%= link_to 'Login', login_path %></li>
    <% end %>
</div>

<ul class="nav">
  <li> <%= link_to image_tag('twitter-bird-light-bgs.png', class: 'twitter-logo bw'), 'http://twitter.com/ewok_13', class: 'twitter-link' %> </li>
   <li> <%= link_to image_tag('tumblr.png', class: 'bw'), 'http://ewok_13.tumblr.com', class: 'tumblr-link' %> </li>
</ul>